@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
:global html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

:global *,
:global *:before,
:global *:after {
  box-sizing: inherit;
}

:global body {
  background-color: #eee;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

:global h1,
:global h2,
:global h3,
:global h4,
:global h5,
:global h6,
:global p,
:global ul {
  margin: 0;
  padding: 0;
}

:global #root {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 20px 0px;
}